<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/style.css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <title>Shopy</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;800&family=Roboto+Slab:wght@400;700&family=Source+Sans+Pro:ital,wght@1,200;1,400&family=Source+Serif+Pro:ital,wght@1,300&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-ligth bg-warning">
        <div class="container">
            <a class="navbar-brand" href="/home">
                <img src="/images/shopy.png" alt="logo de shopy">
                <span class="text-uppercase fw-ligther ms-2">SHOPY</span>
            </a>   
        </div>
    </nav> 
    <form class="row g-3">
      <div class="col-md-6">
        <label for="validationDefault01" class="form-label">Producto</label>
        <input type="text" class="form-control" id="validationDefault01" value="Mark" required>
      </div>
      <div class="col-md-6">
        <label for="validationDefault02" class="form-label">Precio</label>
        <input type="text" class="form-control" id="validationDefault02" value="Otto" required>
      </div>
      <div class="col-md-6">
        <label for="validationDefault03" class="form-label">City</label>
        <input type="text" class="form-control" id="validationDefault03" required>
      </div>
      <div class="col-md-3">
        <label for="validationDefault04" class="form-label">State</label>
        <select class="form-select" id="validationDefault04" required>
          <option selected disabled value="">Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="col-12">
        <input type="file" class="form-control" aria-label="file example" required>
      <div class="invalid-feedback">Example invalid form file feedback</div>
      </div>
      <div class="col-12">
        <button class="btn btn-primary" type="submit">Enviar formulario</button>
      </div>
    </form>
    <div class="mb-3">
      
    </div>
</body>
</html>