
    <nav class="navbar navbar-expand-lg color">
        <div class="container">
            <a class="navbar-brand" href="/home">
                <img src="/images/shopy.svg" alt="logo de shopy">
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link " href="/products/list">Listado de productos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " href="/products/create">Crear</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " href="#">Ayuda</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " href="#">Sobre</a>
                  </li>
                </ul>
                <form action="/search" method="GET"  class="search-form">
                  <input type="text" name="keywords" placeholder="Buscar productos, marcas y más..." class="search-form_input">
                  <button type="submit" class="search-form_button"><i class='bx bx-search'></i></button>
                </form>
            </div>    
        </div>
    </nav> 
